# ───────────────────────────────
# Node
# ───────────────────────────────
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ───────────────────────────────
# Expo
# ───────────────────────────────
.expo/
.expo-shared/
dist/
web-build/
.expo-packager/
.expo-internal/

# ───────────────────────────────
# React Native
# ───────────────────────────────
android/
ios/
build/
*.keystore
*.jks

# ───────────────────────────────
# Environment variables
# ───────────────────────────────
.env
.env.local
.env.production
.env.development

# ───────────────────────────────
# VSCode
# ───────────────────────────────
.vscode/
*.code-workspace

# ───────────────────────────────
# OS files
# ───────────────────────────────
.DS_Store
Thumbs.db

# ───────────────────────────────
# Logs
# ───────────────────────────────
*.log
logs/
